In [54]:
import pandas as pd
from sklearn.cluster import KMeans

print('Pandas version used: ' + pd.__version__)

Pandas version used: 1.0.5

In [8]:
gene_df = pd.read_csv('gene_data.csv', index_col=0)

In [11]:
label_df = pd.read_csv('gene_labels.csv', index_col=0)

In [12]:
gene_df.head()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
sample_0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
sample_1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0
sample_2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,0.0,...,5.125213,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0
sample_3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,0.0,...,6.076566,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0
sample_4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,0.0,...,5.996032,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0

In [13]:
label_df.head()

         Class
sample_0  PRAD
sample_1  LUAD
sample_2  PRAD
sample_3  PRAD
sample_4  BRCA

In [51]:
label_df.Class.unique()

array(['PRAD', 'LUAD', 'BRCA', 'KIRC', 'COAD'], dtype=object)

In [14]:
gene_df.shape

(801, 20531)

In [31]:
# Make sure there are no null values. There are so many features that it's easiest to just sum the sum:
sum(gene_df.isnull().sum())

0

In [16]:
gene_df.shape

(801, 20531)

In [62]:
genes_km = KMeans(n_clusters=5,
                  init='random',
                  max_iter=100)

In [67]:
genes_km_clust = genes_km.fit_predict(gene_df)

In [68]:
genes_km_clust.

array([0, 3, 0, 0, 2, 0, 4, 0, 2, 0, 2, 4, 0, 2, 2, 2, 3, 4, 4, 0, 2, 4,
       3, 2, 4, 3, 1, 2, 2, 2, 2, 2, 4, 2, 0, 2, 4, 3, 2, 2, 4, 0, 0, 4,
       4, 2, 0, 1, 2, 3, 2, 3, 2, 0, 1, 2, 2, 1, 4, 2, 3, 2, 2, 3, 0, 1,
       2, 0, 4, 2, 4, 2, 2, 3, 2, 3, 2, 4, 0, 1, 2, 0, 2, 2, 0, 0, 2, 2,
       4, 2, 0, 0, 2, 2, 2, 0, 1, 2, 0, 2, 2, 4, 2, 4, 3, 4, 3, 1, 3, 3,
       0, 2, 3, 0, 2, 4, 4, 4, 2, 2, 3, 4, 3, 2, 0, 0, 0, 2, 4, 2, 1, 2,
       1, 2, 2, 4, 3, 2, 4, 1, 2, 0, 2, 4, 3, 1, 0, 2, 3, 3, 3, 3, 2, 2,
       3, 2, 2, 0, 0, 3, 0, 3, 4, 2, 0, 3, 1, 4, 3, 2, 4, 3, 2, 3, 2, 2,
       2, 0, 2, 4, 1, 4, 2, 0, 0, 0, 3, 3, 2, 3, 3, 4, 3, 0, 3, 2, 2, 2,
       3, 3, 2, 4, 4, 4, 4, 0, 2, 0, 2, 3, 3, 2, 0, 2, 0, 2, 2, 2, 3, 2,
       4, 3, 4, 4, 3, 2, 4, 0, 2, 3, 3, 0, 1, 2, 4, 0, 4, 1, 2, 4, 4, 3,
       0, 0, 3, 3, 4, 2, 2, 1, 2, 0, 1, 2, 0, 4, 0, 0, 0, 2, 1, 1, 3, 1,
       1, 0, 3, 2, 2, 4, 4, 2, 1, 0, 4, 0, 2, 2, 4, 2, 2, 2, 2, 3, 3, 2,
       2, 2, 4, 4, 4, 4, 2, 2, 2, 4, 2, 2, 3, 0, 2, 2, 1, 3, 0, 2, 2, 2,
       1, 2, 0, 2, 1, 3, 3, 0, 4, 2, 4, 4, 3, 1, 4, 2, 2, 2, 2, 4, 2, 2,
       0, 2, 4, 2, 3, 0, 4, 2, 0, 1, 2, 2, 2, 3, 3, 3, 2, 2, 0, 3, 2, 4,
       2, 1, 1, 3, 2, 4, 2, 2, 2, 1, 3, 1, 4, 0, 4, 2, 2, 4, 2, 1, 0, 3,
       0, 2, 4, 0, 2, 1, 4, 4, 1, 1, 0, 2, 2, 1, 4, 3, 0, 2, 2, 2, 3, 3,
       4, 3, 2, 4, 1, 0, 2, 3, 0, 2, 2, 2, 3, 2, 2, 0, 2, 0, 1, 2, 3, 2,
       2, 3, 2, 2, 2, 4, 3, 0, 2, 0, 4, 2, 4, 1, 2, 0, 3, 4, 2, 2, 4, 2,
       3, 2, 2, 0, 1, 2, 4, 3, 0, 2, 0, 2, 2, 2, 2, 4, 3, 2, 4, 2, 2, 3,
       3, 4, 1, 0, 1, 2, 4, 4, 2, 0, 4, 1, 3, 3, 2, 0, 0, 2, 0, 3, 4, 0,
       2, 3, 0, 3, 2, 2, 1, 3, 4, 1, 3, 2, 0, 2, 2, 0, 2, 1, 2, 1, 4, 2,
       2, 3, 3, 3, 1, 4, 3, 3, 2, 2, 4, 0, 3, 0, 2, 4, 2, 4, 4, 0, 0, 3,
       2, 4, 1, 1, 2, 4, 4, 2, 2, 0, 4, 1, 2, 2, 1, 3, 2, 2, 2, 4, 0, 3,
       3, 2, 4, 1, 4, 4, 2, 0, 3, 4, 2, 1, 3, 3, 3, 0, 3, 4, 2, 2, 1, 0,
       2, 2, 2, 4, 3, 3, 2, 0, 3, 3, 2, 4, 0, 1, 3, 0, 1, 3, 1, 4, 4, 2,
       2, 4, 4, 1, 2, 2, 0, 0, 4, 2, 3, 2, 2, 1, 2, 0, 0, 2, 2, 1, 2, 4,
       2, 2, 1, 2, 0, 2, 2, 4, 0, 3, 2, 2, 4, 2, 2, 2, 2, 2, 1, 3, 3, 2,
       2, 2, 0, 2, 2, 4, 3, 3, 4, 4, 3, 4, 1, 2, 1, 4, 2, 2, 0, 0, 0, 3,
       0, 0, 1, 2, 2, 1, 3, 4, 2, 4, 1, 2, 2, 2, 0, 3, 4, 2, 0, 4, 0, 2,
       3, 4, 0, 3, 0, 0, 2, 4, 0, 3, 1, 1, 2, 2, 2, 3, 4, 4, 4, 2, 3, 4,
       0, 2, 3, 0, 2, 0, 2, 4, 2, 1, 0, 0, 4, 0, 4, 2, 3, 3, 2, 2, 4, 2,
       2, 2, 2, 4, 4, 0, 1, 4, 2, 2, 4, 2, 3, 2, 2, 0, 2, 0, 2, 1, 2, 2,
       4, 3, 2, 2, 0, 2, 0, 1, 2, 2, 2, 3, 2, 3, 2, 3, 4, 4, 1, 1, 2, 2,
       2, 3, 2, 3, 4, 2, 3, 4, 3, 3, 3, 4, 2, 0, 2, 2, 4, 2, 0, 4, 2, 2,
       2, 2, 0, 3, 2, 3, 3, 0, 0])